html, body{
    height: 100%;
    width: 100%;
}
#header, #footer{
    height:10%;
    background: darkgray;
}
#body{
    height:80%;
}
#backgroundVideo {
    position: absolute;
    bottom: 15%;
    top:40%;
    height:45%;
    width: 100%;
    z-index: -100;
    filter: opacity(90%);
}

.roundedCorners {
    border-radius: 12px
}