html, body{
    height: 100%;
    width: 100%;
}
#header, #footer{
    height:10%;
    background: #1a1b1c;
}
#body{
    height:80%;
    background: bisque;
    display: flex;
}
.gamedescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.videocontainer{
    display: inline-block;
    overflow:hidden;
    width: 100%;
    height: 100%;
}
#backgroundVideo {
    width: 100%;
    filter: opacity(90%);
}

.roundedCorners {
    border-radius: 12px
}